<log4net>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="C:\PerfLogs\log4net" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <maxSizeRollBackups value="30" />
    <datePattern value="-yyyyMMdd'.txt'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%level] - %message%newline" />
    </layout>
    <encoding value="utf-8" />
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="file" />
  </root>

</log4net>